@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Tiro+Bangla:ital@0;1&display=swap');
@theme {
    --font-tirobangla: "Tiro Bangla","serif"; 
    --font-anekbangla: "Anek Bangla","sans-serif"; 
 }
 /* Animated border CSS */
@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-rotate {
  to {
    --border-angle: 360deg;
  }
}

.animate-border {
  --border-angle: 0deg;
  border: 1px solid transparent;
  background:
    conic-gradient(from var(--border-angle), #0000007a 80%, #6366f1 86%, #a5b4fc 90%, #6366f1 94%, #0000007a) border-box;
  animation: border-rotate 4s linear infinite;
  border-radius: 1.5rem;
}

.perspective { perspective: 1200px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-0 { transform: rotateY(0deg); }
.rotate-y-180 { transform: rotateY(180deg); }
.rotate-y--180 { transform: rotateY(-180deg); }
.clip-hex { clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%); }